body{
  background-color: black;
}

a {
  text-decoration: none;
  color: white;
}

.btn {
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.btn:hover, .btn:focus {
  color: #fff;
  outline: 0;
}

.flex-row{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.flex-column{
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  flex-basis: 100%;
  flex: 1;
}

.navigation-buttons{
  justify-content: space-around;
  align-content: center;
  align-items: center;
  background-color: red;
}

button.navigation-button {
  border-color: black;
  color: #fff;
  box-shadow: 0 0 40px 40px black inset, 0 0 0 0 black;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
button.navigation-button:hover {
  box-shadow: 0 0 10px 0 black inset, 0 0 10px 4px black;
}

.cover-wrapper{
  padding: 20px;
  background-color: black;
  display: flex;
}

.heart {
  transition: .5s ease;
  opacity: 0;
  transform: translate(270px, -10px);
  position: absolute;
  overflow: visible;
}
.heart-off {
  transition: .5s ease;
  transform: translate(270px, -10px);
  position: absolute;
  overflow: visible;
}
.heart-on {
  transition: .5s ease;
  transform: translate(265px, -16px);
  position: absolute;
  overflow: visible;
  width: 41px;
  height: 38px;
}

.cover-wrapper:hover .cover {
  opacity: 0.3;
}

.cover-wrapper:hover .heart {
  opacity: 1;
}
